

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background: #09090f;
    color: #ffffff;
    line-height: 1.6;
}




header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: rgba(9, 9, 15, 0.85);
    backdrop-filter: blur(12px);
}

.navbar {
    max-width: 1150px;
    margin: auto;

    height: 75px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 25px;
}

.logo {
    font-size: 28px;
    font-weight: 700;
}

.logo span {
    color: #8b5cf6;
}

.nav-links {
    list-style: none;

    display: flex;
    gap: 35px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;

    font-size: 14px;

    transition: 0.3s;
}

.nav-links a:hover {
    color: #8b5cf6;
}


/* =========================
   HERO
========================= */

.hero {
    min-height: 100vh;
    max-width: 1150px;

    margin: auto;

    padding: 120px 25px 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 50px;
}

.hero-content {
    max-width: 650px;
}

.small-text {
    color: #8b5cf6;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
}

.hero h1 {
    font-size: clamp(50px, 8vw, 90px);
    line-height: 1.1;
    margin: 15px 0;
}

.hero h1 span {
    color: #8b5cf6;
}

.hero h2 {
    color: #d1d1d8;
    font-size: 25px;
    margin-bottom: 20px;
}

.hero p {
    color: #9696a3;
    max-width: 550px;
}

.buttons {
    margin-top: 35px;

    display: flex;
    gap: 15px;
}

.btn {
    padding: 13px 25px;

    text-decoration: none;

    border-radius: 8px;

    font-size: 14px;

    transition: 0.3s;
}

.primary {
    background: #8b5cf6;
    color: white;
}

.primary:hover {
    background: #7042db;
    transform: translateY(-3px);
}

.secondary {
    border: 1px solid #333340;
    color: white;
}

.secondary:hover {
    border-color: #8b5cf6;
    color: #8b5cf6;
}




.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-circle {
    width: 310px;
    height: 310px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background:
        linear-gradient(#11111a, #11111a) padding-box,
        linear-gradient(135deg, #8b5cf6, #ec4899) border-box;

    border: 3px solid transparent;

    box-shadow:
        0 0 60px rgba(139, 92, 246, 0.25);
}

.profile-circle span {
    font-size: 80px;
    color: #8b5cf6;
}




.section {
    max-width: 1150px;
    margin: auto;

    padding: 100px 25px;
}

.section-title {
    text-align: center;
    margin-bottom: 55px;
}

.section-title p {
    color: #8b5cf6;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 600;
}

.section-title h2 {
    font-size: 42px;
    margin-top: 5px;
}




.about-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;

    gap: 60px;
}

.about-card {
    background: #11111a;
    padding: 35px;

    border-radius: 15px;

    border: 1px solid #20202c;
}

.about-card h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.about-card p {
    color: #9999a5;
    margin-bottom: 15px;
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-info div {
    background: #11111a;

    border: 1px solid #20202c;

    padding: 18px 20px;

    border-radius: 10px;

    display: flex;
    justify-content: space-between;
}

.about-info strong {
    color: #ffffff;
}

.about-info span {
    color: #9999a5;
}




.skills-section {
    background: #0d0d15;
}

.skills-container {
    max-width: 800px;
    margin: auto;
}

.skill {
    margin-bottom: 25px;
}

.skill-heading {
    display: flex;
    justify-content: space-between;

    margin-bottom: 8px;

    font-size: 14px;
}

.skill-heading span:last-child {
    color: #8b5cf6;
}

.progress {
    height: 8px;

    background: #22222d;

    border-radius: 20px;

    overflow: hidden;
}

.progress-bar {
    height: 100%;

    border-radius: 20px;

    background: linear-gradient(
        90deg,
        #8b5cf6,
        #ec4899
    );
}

.html {
    width: 95%;
}

.css {
    width: 90%;
}

.js {
    width: 80%;
}

.design {
    width: 75%;
}


/* =========================
   PROJECTS
========================= */

.project-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}

.project-card {
    background: #11111a;

    border: 1px solid #20202c;

    padding: 30px;

    border-radius: 15px;

    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);

    border-color: #8b5cf6;

    box-shadow:
        0 15px 40px rgba(0, 0, 0, 0.3);
}

.project-icon {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #8b5cf6;

    border-radius: 10px;

    margin-bottom: 25px;

    font-weight: 600;
}

.project-card h3 {
    font-size: 21px;
    margin-bottom: 12px;
}

.project-card p {
    color: #92929d;
    font-size: 14px;

    margin-bottom: 20px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;

    margin-bottom: 25px;
}

.tags span {
    background: #20202c;

    color: #aaaab5;

    padding: 5px 10px;

    border-radius: 5px;

    font-size: 11px;
}

.project-link {
    color: #8b5cf6;

    text-decoration: none;

    font-size: 13px;

    font-weight: 500;
}




.contact-section {
    background: #0d0d15;

    max-width: none;

    padding-left: max(25px, calc((100% - 1100px) / 2));
    padding-right: max(25px, calc((100% - 1100px) / 2));
}

.contact-container {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 70px;
}

.contact-text h3 {
    font-size: 30px;

    margin-bottom: 15px;
}

.contact-text p {
    color: #9999a5;
}

.email {
    color: #8b5cf6 !important;

    margin-top: 25px;

    font-weight: 500;
}

.contact-form {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;

    background: #11111a;

    border: 1px solid #252531;

    outline: none;

    padding: 15px;

    border-radius: 8px;

    color: white;

    font-family: inherit;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #8b5cf6;
}

.contact-form button {
    border: none;

    padding: 14px;

    border-radius: 8px;

    background: #8b5cf6;

    color: white;

    font-family: inherit;

    cursor: pointer;

    transition: 0.3s;
}

.contact-form button:hover {
    background: #7042db;
}


/* =========================
   FOOTER
========================= */

footer {
    text-align: center;

    padding: 25px;

    border-top: 1px solid #20202c;

    color: #777783;

    font-size: 13px;
}


/* =========================
   RESPONSIVE DESIGN
========================= */

@media (max-width: 800px) {

    .nav-links {
        gap: 15px;
    }

    .hero {
        flex-direction: column;
        text-align: center;

        padding-top: 140px;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-circle {
        width: 240px;
        height: 240px;
    }

    .profile-circle span {
        font-size: 60px;
    }

    .about-container {
        grid-template-columns: 1fr;
    }

    .project-container {
        grid-template-columns: 1fr;
    }

    .contact-container {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 550px) {

    .navbar {
        flex-direction: column;
        height: auto;
        padding: 15px;
        gap: 10px;
    }

    .nav-links {
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-links a {
        font-size: 12px;
    }

    .hero h1 {
        font-size: 50px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .buttons {
        flex-direction: column;
        width: 100%;
    }

    .btn {
        text-align: center;
    }

    .section-title h2 {
        font-size: 34px;
    }

    .about-info div {
        flex-direction: column;
        gap: 5px;
    }
}
